name: Top online game by player
on:
  schedule:
    - cron: '0 3 * * 0,3,5'
  workflow_dispatch:

jobs:
  update-tables:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: run bash script to update top online game
        env:
          STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
        run: |
          chmod +x ./bash/online.sh
          ./bash/online.sh
        shell: bash