name: Auto update JSON
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
permissions:
    contents: write
jobs:
  update-tables:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: run bash script to update json files
        env:
          STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
        run: |
          chmod +x ./bash/json.sh
          ./bash/json.sh
        shell: bash
